<div style="width: 800px; padding: 10px; #dda1ff; margin: 50px; text-align: center; position: absolute; ; top: 30px; left: 10px">
    <h1 style="font-family:'Courier New', monospace; background-color:purple">Brendan's Mini-Lab</h1>
    <h3 style="font-family:'Courier New', monospace">Bubble sorts</h3>
    <h1 style="background-color:LightBlue;"></h1>
    <label style="font-size: 35px">Bubble sort MiniLab</label><br>
    <label style="font-size: 20px">Please enter numbers in the box </label><br>
    <input type="text" id="numstring" name="numstring" style="width: 400px"><br><br>
    <button onclick="sortArray()">Execute</button><br><br><br>
    <label style="font-size: 20px">Bubble-sorted array</label><br>
    <label id="output4">Sorted array</label><br><br>
    <label id="bubbleOutput">Sorted array</label><br>
    <label id="bubbleTime">Time</label><br><br>
</div>
<script>
    function sortArray() {
        let string = document.getElementById("numstring").value;
        let stringArr = string.split(" ");
        var array = stringArr.map(Number);
        let sortedArr = bubbleSort(array)
        document.getElementById("output4").innerText = sortedArr;

         let startTimeBubble = performance.now();
        let bubbleArr = bubbleSort(array);
        let endTimeBubble = performance.now();
        let timeBubble = endTimeBubble - startTimeBubble;
        let bubbleTimeString = String(timeBubble) + " ms"

         document.getElementById("bubbleOutput").innerText = bubbleArr;
          document.getElementById("bubbleTime").innerText = bubbleTimeString;
    }
    function bubbleSort(a) {
        var swapp;
        var n = a.length-1;
        var x=a;
        do {
            swapp = false;
            for (var i=0; i < n; i++)
            {
                if (x[i] > x[i+1])
                {
                    var temp = x[i];
                    x[i] = x[i+1];
                    x[i+1] = temp;
                    swapp = true;
                }
            }
            n--;
        } while (swapp);
        return x;
    }
</script>
